* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: #ffd1dc;
    font-size: 16px;
}

ul,
ol,
li {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
    font-size: 1rem;
}

button:active {
    scale: 0.98;
}

/* utility classes */



/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #392b04;
    background-color: #C1E1C1;
    position: fixed;
    height: 6rem;
    width: 100%;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

/* content & main */

main {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 13rem;
    color: white;
    height: 100%;
    background-image: url(../src/images/bubbleTeaShop.png);
    background-position: center;
    background-repeat: no-repeat;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

/* home tab styles */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



blockquote.home {
    padding-top: 2rem;
    font-size: 1.2rem;
}

.homeCard {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    padding: 1rem;
    border-radius: 0.33rem;
}

/* menu tab styles */

/* footer */

footer {
    margin-top: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
