* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-size: 16px;
    background-image: url(images/bubbleTeaShop.png);
    background-position: center;
    background-repeat: no-repeat;
}

ul,
ol,
li {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
    color: #392b04;
    font-size: 1rem;
    padding: 0.2rem 0.6rem;
    border-radius: 0.42rem;
}

button:active {
    scale: 0.98;
}

/* .container utility */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

header {
    gap: 1rem;
    color: #392b04;
    background-color: #C1E1C190;
    backdrop-filter: blur(0.5rem);
    position: fixed;
    height: 6rem;
    width: 100%;
    box-shadow: 0.01rem 0.01rem 0.05rem #00000090;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.activeTab {
    background-color: #ffd1dc;
}

/* content & main */

main {
    padding-top: 8rem;
    color: white;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.tabContainer {
    background-color: #00000099;
    padding: 1rem;
    border-radius: 0.33rem;
    text-align: center;
}

/* home tab styles */

blockquote.home {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

/* menu tab styles */

.menuH2 {
    text-align: center;
    background-color: #ffd1dc;
    width: 16rem;
    border-radius: 0.42rem;
    border: 0.03rem solid pink;
    box-shadow: 0 0.1rem 0.25rem 0 #00000099;
    padding: 0.5rem;
    color: #392b04;
}

.menuContainer {
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.menuGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
}

.menuItemCard {
    text-align: center;
    gap: 0.5rem;
    background-color: bisque;
    border-radius: 0.42rem;
    border: 0.03rem solid pink;
    box-shadow: 0 0.1rem 0.25rem 0 #00000090;
    color: #392b04;
    padding: 1.2rem;
}

.menuItemCard img {
    width: 10rem;
    height: 10rem;
    background-color: #ffd1dc;
}

/* contact tab styles */

.contact {
    gap: 1rem;
}

.contact img {
    width: 18rem;
}

/* footer */

footer {
    margin-top: auto;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
