* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    font-size: 16px;
    background-image: url(../src/images/bubbleTeaShop.png);
    background-position: center;
    background-repeat: no-repeat;
}

ul,
ol,
li {
    list-style: none;
}

button {
    border: none;
    background-color: inherit;
    font-size: 1rem;
}

button:active {
    scale: 0.98;
}

/* utility classes */



/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #392b04;
    background-color: #C1E1C190;
    backdrop-filter: blur(0.5rem);
    position: fixed;
    height: 6rem;
    width: 100%;
    box-shadow: 0.01rem 0.01rem 0.05rem #00000090;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar li button {
    text-decoration: underline;
}

/* content & main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    color: white;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.tabContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
    padding: 1rem;
    border-radius: 0.33rem;
}

/* home tab styles */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



blockquote.home {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

/* menu tab styles */

.menuH2 {
    text-align: center;
    background-color: #ffd1dc;
    width: 100%;
    padding: 0.5rem;
    color: #392b04;
}

.menuContainer {
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

.menuGrid {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

.menuItemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: bisque;
    border: 0.1rem solid #00000090;
    border-radius: 0.33rem;
    color: #392b04;
    padding: 1.2rem;
}

.menuItemCard img {
    width: 10rem;
    height: 10rem;
    background-color: #ffd1dc;
}

/* footer */

footer {
    margin-top: auto;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
